.dashboard {
    display: flex;
    margin-top: 87px; 
  }
  
  .main-content {
    flex: 1;
    margin-left: 240px; 
    padding: 20px;
  }
  
  .content {
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .dashboard {
      margin-top: 56px; 
    }
  
    .main-content {
      margin-left: 0;
    }
  
    .sidebar {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .sidebar.show {
      transform: translateX(0);
    }
  }
  