.col-nome {
    width: 200px; 
  }
  
  .col-numSocio {
    width: 100px; 
  }
  
  .col-email {
    width: 250px;
  }
  
  .col-actions {
    width: 250px; 
  }
  
  .action-buttons-left {
    display: inline-block;
  }
  
  .action-buttons-right {
    display: inline-block;
  }
  
  .action-buttons .btn {
    margin-right: 10px; 
  }
  .btnPrevious {
    margin-right: 20px; 
  }
  .btn-custom {
    background-color:  #1f4d84; 
    color: #ffffff;
  }
  
  .btn-custom:hover {
    background-color: #163c66;
    color: #ffffff; 
  }
  .form-control {
    border-color: #1f4d84;
  }
  
  
  