/* Estilo para telas maiores */
.socios-landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  transition: all 0.5s ease;
  margin-top: 7%;
}

.left-content {
  flex: 1;
  margin-right: 20px;
  animation: fadeInLeft 1s ease;
}

.right-content {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  animation: fadeInRight 1s ease;
}

.text-box {
  background: #eee7e7;
  color: #000;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text-box p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.9;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-style: oblique;
}

.text-box .highlight {
  text-decoration-color: #1f4d84;
  font-weight: bold;
  color: #1f4d84;
}

.imagem-socios {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.right-content, .left-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.socios-landing-page.loaded .right-content,
.socios-landing-page.loaded .left-content {
  opacity: 1;
  transform: translateY(0);
}

.info-button {
  display: inline-block;
  background: #1f4d84;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.info-button:hover {
  background: #000000;
  transform: translateY(-5px);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  .socios-landing-page {
    margin-top: 25%;
    flex-direction: column;
    align-items: flex-start;
  }

  .left-content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .right-content {
    margin-left: 0;
    margin-right: 0;
  }

  .text-box {
    padding: 20px;
  }

  .text-box p {
    font-size: 1rem;
  }

  .info-button {
    padding: 10px 15px;
    font-size: 1rem;
  }
}

